<div class="container">
  <div class="body">
    <h1>Welcome to Japanese Anime Portal</h1>

    <div class="content">
      <p>This site has all the anime you need to watch in the world!. If you like computers, have no life, no girlfriend
        and
        poor mental heath, then you're in the right place. If you dream about having a good life but are too lazy to
        work
        on
        them, then you are definitely suppose to be here.</p>

      <p>Grab some pop corns, some tissue papers to cry for all the hurt you got right now, and enjoy the anime
        list. Oh, and after reading the warning you have some time, please read the footer too.</p>

      <p><strong>Warning:</strong>You will die first before watching all of the anime. And, the hurt this site will give
        you
        might actually rot your brain. Viewers discretion is advised. Anything found here is non-reliable and the author
        doesn't guarantee any claims. You are responsible for any harm you cause to yourself from using this site.</p>
    </div>
  </div>
</div>
