$primary-dark: #160C28;
$primary-accent: #EFCB68;

$text-light: #F5E3C3;
$text-dark: #2C1C3A;

$background-dark: #1C132F;
$background-light: #FAF2DC;

$card-dark: #221936;
$card-light: #FFE8A0;

$button-dark: #EFCB68;
$button-light: #160C28;
$button-hover: #FFD77A;



/* Media breakpoints*/
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
