<div class="user-profile__content">
  <img src="{{profile.image}}" class="user-profile__image">

  <h3 class="user-profile__name">{{ profile.name }}</h3>

  <div class="user-profile__details-section user-profile__personalities-section">
    <h4 class="user-profile__section-title">Personality</h4>
    <ul class="user-profile__list">
      <li *ngFor="let personality of profile.personality" class="user-profile__list-item"> {{ personality }}
      </li>
    </ul>
  </div>

  <div class="user-profile__details-section user-profile__traits-section">
    <h4 class="user-profile__section-title">Traits</h4>
    <ul class="user-profile__list">
      <li *ngFor="let trait of profile.traits" class="user-profile__list-item"> {{ trait }}</li>
    </ul>
  </div>
</div>
